{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<center>

<body>
    <div style="width: 100%;">
        <div style="width: 50%; float: left"> 
            <img src="https://images.unsplash.com/photo-1581333100576-b73befd79a9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="img-fluid" alt="BetterMe" width=750/>
        </div>
        <div style="margin-left: 50%"> 
            <h1>About BetterMe</h1>
            <h4>
                <br><br>
                BetterMe allows our users to track daily behaviors surrounding their mental health and well-being. 
                The goal of this is to be able to overtime identify patterns in behaviors that may help improve 
                overall mental health.<br>
                <br>
                Additionally, BetterMe provides a library of resources relating to common areas that many people 
                struggle with, such as anxiety and depression.<br>
                <br>
                We live in a world where there are an unlimited amount of resources and information available 
                to help with mental health. BetterMe seeks to be able to reduce how overwhelming finding the 
                right place to start can be.<br>
                <br>
                Get started with BetterMe now.
            </h4>
        </div>
    </div>
 </body>
</center>
{% endblock content %}