{% extends '_base.html' %}
{% load static %}

{% block title %}BetterMe{% endblock title %}

{% block content %}


<html>
  <body background="https://images.unsplash.com/photo-1520179432903-03d08e6ef07a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80">
   <body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1>Welcome to BetterMe</h1>
      <p class="lead">Start your journey now to find a better you.</p>
    </div>
  </body>
</html>
{% endblock content %}